Binaries/
DerivedDataCache/
Intermediate/
Saved/
enc_temp_folder/

.vs/
*.VC.db
*.sdf
*.opensdf
*.sln
*.suo
*.user
*.userprefs

*.obj
*.pch
*.pdb
*.exe
*.dll
*.lib
*.app
*.log
*.ipch
*.aps
*.ncb
*.cache
*.pdb
*.manifest
*.map

*.bmp
*.dat
*.tmp
